In [4]:
%matplotlib inline

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
#!ls -l /home/shared/sp18-is590dv/data/names/
# note, this dataset is found here: 
# https://resources.oreilly.com/examples/0636920023784/tree/master/pydata-book-master/ch02/names
!ls -l /Users/jillnaiman1/spring2019online/week10/data/names

total 43160
-rw-r--r--@ 1 jillnaiman1  staff    5724 Mar  8 14:22 NationalReadMe.pdf
-rw-r--r--@ 1 jillnaiman1  staff   24933 Mar  8 14:22 yob1880.txt
-rw-r--r--@ 1 jillnaiman1  staff   24065 Mar  8 14:22 yob1881.txt
-rw-r--r--@ 1 jillnaiman1  staff   26559 Mar  8 14:22 yob1882.txt
-rw-r--r--@ 1 jillnaiman1  staff   26003 Mar  8 14:22 yob1883.txt
-rw-r--r--@ 1 jillnaiman1  staff   28670 Mar  8 14:22 yob1884.txt
-rw-r--r--@ 1 jillnaiman1  staff   28625 Mar  8 14:22 yob1885.txt
-rw-r--r--@ 1 jillnaiman1  staff   29822 Mar  8 14:22 yob1886.txt
-rw-r--r--@ 1 jillnaiman1  staff   29532 Mar  8 14:22 yob1887.txt
-rw-r--r--@ 1 jillnaiman1  staff   33065 Mar  8 14:22 yob1888.txt
-rw-r--r--@ 1 jillnaiman1  staff   32297 Mar  8 14:22 yob1889.txt
-rw-r--r--@ 1 jillnaiman1  staff   33621 Mar  8 14:22 yob1890.txt
-rw-r--r--@ 1 jillnaiman1  staff   33186 Mar  8 14:22 yob1891.txt
-rw-r--r--@ 1 jillnaiman1  staff   36542 Mar  8 14:22 yob1892.txt
-rw-r--r--@ 1 jillnaiman1  staff   35434 Mar  8 14:22 yob1893.txt
-rw-r--r--@ 1 jillnaiman1  staff   36817 Mar  8 14:22 yob1894.txt
-rw-r--r--@ 1 jillnaiman1  staff   38232 Mar  8 14:22 yob1895.txt
-rw-r--r--@ 1 jillnaiman1  staff   38747 Mar  8 14:22 yob1896.txt
-rw-r--r--@ 1 jillnaiman1  staff   37936 Mar  8 14:22 yob1897.txt
-rw-r--r--@ 1 jillnaiman1  staff   40937 Mar  8 14:22 yob1898.txt
-rw-r--r--@ 1 jillnaiman1  staff   38141 Mar  8 14:22 yob1899.txt
-rw-r--r--@ 1 jillnaiman1  staff   46898 Mar  8 14:22 yob1900.txt
-rw-r--r--@ 1 jillnaiman1  staff   39584 Mar  8 14:22 yob1901.txt
-rw-r--r--@ 1 jillnaiman1  staff   42284 Mar  8 14:22 yob1902.txt
-rw-r--r--@ 1 jillnaiman1  staff   42679 Mar  8 14:22 yob1903.txt
-rw-r--r--@ 1 jillnaiman1  staff   44819 Mar  8 14:22 yob1904.txt
-rw-r--r--@ 1 jillnaiman1  staff   46015 Mar  8 14:22 yob1905.txt
-rw-r--r--@ 1 jillnaiman1  staff   45845 Mar  8 14:22 yob1906.txt
-rw-r--r--@ 1 jillnaiman1  staff   49829 Mar  8 14:22 yob1907.txt
-rw-r--r--@ 1 jillnaiman1  staff   50841 Mar  8 14:22 yob1908.txt
-rw-r--r--@ 1 jillnaiman1  staff   53488 Mar  8 14:22 yob1909.txt
-rw-r--r--@ 1 jillnaiman1  staff   58699 Mar  8 14:22 yob1910.txt
-rw-r--r--@ 1 jillnaiman1  staff   61771 Mar  8 14:22 yob1911.txt
-rw-r--r--@ 1 jillnaiman1  staff   80705 Mar  8 14:22 yob1912.txt
-rw-r--r--@ 1 jillnaiman1  staff   88666 Mar  8 14:22 yob1913.txt
-rw-r--r--@ 1 jillnaiman1  staff  101529 Mar  8 14:22 yob1914.txt
-rw-r--r--@ 1 jillnaiman1  staff  119483 Mar  8 14:22 yob1915.txt
-rw-r--r--@ 1 jillnaiman1  staff  123879 Mar  8 14:22 yob1916.txt
-rw-r--r--@ 1 jillnaiman1  staff  126782 Mar  8 14:22 yob1917.txt
-rw-r--r--@ 1 jillnaiman1  staff  133101 Mar  8 14:22 yob1918.txt
-rw-r--r--@ 1 jillnaiman1  staff  132726 Mar  8 14:22 yob1919.txt
-rw-r--r--@ 1 jillnaiman1  staff  137750 Mar  8 14:22 yob1920.txt
-rw-r--r--@ 1 jillnaiman1  staff  139183 Mar  8 14:22 yob1921.txt
-rw-r--r--@ 1 jillnaiman1  staff  138200 Mar  8 14:22 yob1922.txt
-rw-r--r--@ 1 jillnaiman1  staff  136768 Mar  8 14:22 yob1923.txt
-rw-r--r--@ 1 jillnaiman1  staff  139518 Mar  8 14:22 yob1924.txt
-rw-r--r--@ 1 jillnaiman1  staff  136831 Mar  8 14:22 yob1925.txt
-rw-r--r--@ 1 jillnaiman1  staff  134326 Mar  8 14:22 yob1926.txt
-rw-r--r--@ 1 jillnaiman1  staff  133892 Mar  8 14:22 yob1927.txt
-rw-r--r--@ 1 jillnaiman1  staff  130726 Mar  8 14:22 yob1928.txt
-rw-r--r--@ 1 jillnaiman1  staff  126316 Mar  8 14:22 yob1929.txt
-rw-r--r--@ 1 jillnaiman1  staff  125892 Mar  8 14:22 yob1930.txt
-rw-r--r--@ 1 jillnaiman1  staff  119362 Mar  8 14:22 yob1931.txt
-rw-r--r--@ 1 jillnaiman1  staff  120786 Mar  8 14:22 yob1932.txt
-rw-r--r--@ 1 jillnaiman1  staff  115824 Mar  8 14:22 yob1933.txt
-rw-r--r--@ 1 jillnaiman1  staff  118031 Mar  8 14:22 yob1934.txt
-rw-r--r--@ 1 jillnaiman1  staff  116221 Mar  8 14:22 yob1935.txt
-rw-r--r--@ 1 jillnaiman1  staff  114311 Mar  8 14:22 yob1936.txt
-rw-r--r--@ 1 jillnaiman1  staff  115279 Mar  8 14:22 yob1937.txt
-rw-r--r--@ 1 jillnaiman1  staff  116279 Mar  8 14:22 yob1938.txt
-rw-r--r--@ 1 jillnaiman1  staff  114819 Mar  8 14:22 yob1939.txt
-rw-r--r--@ 1 jillnaiman1  staff  115631 Mar  8 14:22 yob1940.txt
-rw-r--r--@ 1 jillnaiman1  staff  117195 Mar  8 14:22 yob1941.txt
-rw-r--r--@ 1 jillnaiman1  staff  121600 Mar  8 14:22 yob1942.txt
-rw-r--r--@ 1 jillnaiman1  staff  121528 Mar  8 14:22 yob1943.txt
-rw-r--r--@ 1 jillnaiman1  staff  118128 Mar  8 14:22 yob1944.txt
-rw-r--r--@ 1 jillnaiman1  staff  116618 Mar  8 14:22 yob1945.txt
-rw-r--r--@ 1 jillnaiman1  staff  125383 Mar  8 14:22 yob1946.txt
-rw-r--r--@ 1 jillnaiman1  staff  133917 Mar  8 14:22 yob1947.txt
-rw-r--r--@ 1 jillnaiman1  staff  132465 Mar  8 14:22 yob1948.txt
-rw-r--r--@ 1 jillnaiman1  staff  132602 Mar  8 14:22 yob1949.txt
-rw-r--r--@ 1 jillnaiman1  staff  133205 Mar  8 14:22 yob1950.txt
-rw-r--r--@ 1 jillnaiman1  staff  135349 Mar  8 14:22 yob1951.txt
-rw-r--r--@ 1 jillnaiman1  staff  137658 Mar  8 14:22 yob1952.txt
-rw-r--r--@ 1 jillnaiman1  staff  140015 Mar  8 14:22 yob1953.txt
-rw-r--r--@ 1 jillnaiman1  staff  141564 Mar  8 14:22 yob1954.txt
-rw-r--r--@ 1 jillnaiman1  staff  143552 Mar  8 14:22 yob1955.txt
-rw-r--r--@ 1 jillnaiman1  staff  146612 Mar  8 14:22 yob1956.txt
-rw-r--r--@ 1 jillnaiman1  staff  149179 Mar  8 14:22 yob1957.txt
-rw-r--r--@ 1 jillnaiman1  staff  148618 Mar  8 14:22 yob1958.txt
-rw-r--r--@ 1 jillnaiman1  staff  151965 Mar  8 14:22 yob1959.txt
-rw-r--r--@ 1 jillnaiman1  staff  154001 Mar  8 14:22 yob1960.txt
-rw-r--r--@ 1 jillnaiman1  staff  157443 Mar  8 14:22 yob1961.txt
-rw-r--r--@ 1 jillnaiman1  staff  157847 Mar  8 14:22 yob1962.txt
-rw-r--r--@ 1 jillnaiman1  staff  158855 Mar  8 14:22 yob1963.txt
-rw-r--r--@ 1 jillnaiman1  staff  160451 Mar  8 14:22 yob1964.txt
-rw-r--r--@ 1 jillnaiman1  staff  155029 Mar  8 14:22 yob1965.txt
-rw-r--r--@ 1 jillnaiman1  staff  157349 Mar  8 14:22 yob1966.txt
-rw-r--r--@ 1 jillnaiman1  staff  160588 Mar  8 14:22 yob1967.txt
-rw-r--r--@ 1 jillnaiman1  staff  167356 Mar  8 14:22 yob1968.txt
-rw-r--r--@ 1 jillnaiman1  staff  177888 Mar  8 14:22 yob1969.txt
-rw-r--r--@ 1 jillnaiman1  staff  191360 Mar  8 14:22 yob1970.txt
-rw-r--r--@ 1 jillnaiman1  staff  197951 Mar  8 14:22 yob1971.txt
-rw-r--r--@ 1 jillnaiman1  staff  199410 Mar  8 14:22 yob1972.txt
-rw-r--r--@ 1 jillnaiman1  staff  202912 Mar  8 14:22 yob1973.txt
-rw-r--r--@ 1 jillnaiman1  staff  210367 Mar  8 14:22 yob1974.txt
-rw-r--r--@ 1 jillnaiman1  staff  218922 Mar  8 14:22 yob1975.txt
-rw-r--r--@ 1 jillnaiman1  staff  224880 Mar  8 14:22 yob1976.txt
-rw-r--r--@ 1 jillnaiman1  staff  234872 Mar  8 14:22 yob1977.txt
-rw-r--r--@ 1 jillnaiman1  staff  235822 Mar  8 14:22 yob1978.txt
-rw-r--r--@ 1 jillnaiman1  staff  246109 Mar  8 14:22 yob1979.txt
-rw-r--r--@ 1 jillnaiman1  staff  251121 Mar  8 14:22 yob1980.txt
-rw-r--r--@ 1 jillnaiman1  staff  251593 Mar  8 14:22 yob1981.txt
-rw-r--r--@ 1 jillnaiman1  staff  254584 Mar  8 14:22 yob1982.txt
-rw-r--r--@ 1 jillnaiman1  staff  250692 Mar  8 14:22 yob1983.txt
-rw-r--r--@ 1 jillnaiman1  staff  252513 Mar  8 14:22 yob1984.txt
-rw-r--r--@ 1 jillnaiman1  staff  260173 Mar  8 14:22 yob1985.txt
-rw-r--r--@ 1 jillnaiman1  staff  267762 Mar  8 14:22 yob1986.txt
-rw-r--r--@ 1 jillnaiman1  staff  278085 Mar  8 14:22 yob1987.txt
-rw-r--r--@ 1 jillnaiman1  staff  290744 Mar  8 14:22 yob1988.txt
-rw-r--r--@ 1 jillnaiman1  staff  309368 Mar  8 14:22 yob1989.txt
-rw-r--r--@ 1 jillnaiman1  staff  321960 Mar  8 14:22 yob1990.txt
-rw-r--r--@ 1 jillnaiman1  staff  327121 Mar  8 14:22 yob1991.txt
-rw-r--r--@ 1 jillnaiman1  staff  331344 Mar  8 14:22 yob1992.txt
-rw-r--r--@ 1 jillnaiman1  staff  337663 Mar  8 14:22 yob1993.txt
-rw-r--r--@ 1 jillnaiman1  staff  338089 Mar  8 14:22 yob1994.txt
-rw-r--r--@ 1 jillnaiman1  staff  339040 Mar  8 14:22 yob1995.txt
-rw-r--r--@ 1 jillnaiman1  staff  342951 Mar  8 14:22 yob1996.txt
-rw-r--r--@ 1 jillnaiman1  staff  349976 Mar  8 14:22 yob1997.txt
-rw-r--r--@ 1 jillnaiman1  staff  361418 Mar  8 14:22 yob1998.txt
-rw-r--r--@ 1 jillnaiman1  staff  369239 Mar  8 14:22 yob1999.txt
-rw-r--r--@ 1 jillnaiman1  staff  384911 Mar  8 14:22 yob2000.txt
-rw-r--r--@ 1 jillnaiman1  staff  390881 Mar  8 14:22 yob2001.txt
-rw-r--r--@ 1 jillnaiman1  staff  394589 Mar  8 14:22 yob2002.txt
-rw-r--r--@ 1 jillnaiman1  staff  402312 Mar  8 14:22 yob2003.txt
-rw-r--r--@ 1 jillnaiman1  staff  413102 Mar  8 14:22 yob2004.txt
-rw-r--r--@ 1 jillnaiman1  staff  419688 Mar  8 14:22 yob2005.txt
-rw-r--r--@ 1 jillnaiman1  staff  439715 Mar  8 14:22 yob2006.txt
-rw-r--r--@ 1 jillnaiman1  staff  450391 Mar  8 14:22 yob2007.txt
-rw-r--r--@ 1 jillnaiman1  staff  451900 Mar  8 14:22 yob2008.txt
-rw-r--r--@ 1 jillnaiman1  staff  446675 Mar  8 14:22 yob2009.txt
-rw-r--r--@ 1 jillnaiman1  staff  436566 Mar  8 14:22 yob2010.txt

In [7]:
!head /Users/jillnaiman1/spring2019online/week10/data/names/yob1940.txt

In [8]:
df1940 = pd.read_csv("/Users/jillnaiman1/spring2019online/week10/data/names/yob1940.txt", header=None, names = ["name", "sex", "count"])

In [9]:
import glob

In [10]:
fns = sorted(glob.glob("/Users/jillnaiman1/spring2019online/week10/data/names/yob*.txt"))

In [11]:
data = []
for fn in fns:
    year = int(fn[-8:-4])
    df = pd.read_csv(fn, header=None, names = ["name", "sex", "count"])
    df["year"] = year
    data.append(df)

In [12]:
all_names = pd.concat(data)

In [13]:
most_common = []
for year, df in all_names.groupby("year"):
    imax = df["count"].idxmax()
    most_common.append((year, df["name"].loc[imax], df["count"].max()))
most_common = pd.DataFrame(most_common, columns = ["year", "name", "count"])
most_common.set_index("year", inplace=True)

In [14]:
most_common.head()

      name  count
year
1880  John   9655
1881  John   8769
1882  John   9557
1883  John   8894
1884  John   9387

In [15]:
# format data for idyll
most_common.to_csv("idyll-project1/data/most_common.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'idyll-project1/data/most_common.csv'

In [61]:
most_common

          name  count
year
1880      John   9655
1881      John   8769
1882      John   9557
1883      John   8894
1884      John   9388
1885      Mary   9128
1886      Mary   9889
1887      Mary   9888
1888      Mary  11754
1889      Mary  11648
1890      Mary  12078
1891      Mary  11703
1892      Mary  13172
1893      Mary  12784
1894      Mary  13151
1895      Mary  13446
1896      Mary  13811
1897      Mary  13413
1898      Mary  14406
1899      Mary  13172
1900      Mary  16707
1901      Mary  13136
1902      Mary  14486
1903      Mary  14275
1904      Mary  14962
1905      Mary  16067
1906      Mary  16370
1907      Mary  17580
1908      Mary  18666
1909      Mary  19259
...        ...    ...
1986   Michael  64188
1987   Michael  63638
1988   Michael  64117
1989   Michael  65378
1990   Michael  65275
1991   Michael  60783
1992   Michael  54384
1993   Michael  49551
1994   Michael  44462
1995   Michael  41404
1996   Michael  38364
1997   Michael  37545
1998   Michael  36615
1999     Jacob  35346
2000     Jacob  34467
2001     Jacob  32531
2002     Jacob  30558
2003     Jacob  29620
2004     Jacob  27873
2005     Jacob  25822
2006     Jacob  24832
2007     Jacob  24259
2008     Jacob  22574
2009  Isabella  22283
2010  Isabella  22890
2011    Sophia  21824
2012    Sophia  22279
2013    Sophia  21171
2014      Emma  20886
2015      Emma  20355

[136 rows x 2 columns]

In [63]:
xy_mc = most_common.copy()
xy_mc.columns = ["name", "y"]
xy_mc.index.name = "x"
xy_mc.to_csv("idyll-project1/data/most_common2.csv")